/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-may-2016, 21:33:39
    Author     : Usher
*/

.form-group >[class*="col-"] + .ws-errorbox {
    padding: 0 15px;
}
a.text-warning{
  text-decoration: none;
} 
a div.panel {
  position: initial;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -kthtml-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a div.panel:hover {
  margin-left: -2px;
  margin-right: 2px;

  box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888;
  -moz-box-shadow: 2px 2px 2px #888888;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -kthtml-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

form.respuesta{
  background-color: #efefef;
  padding: 20px;
  border-radius: 5px;
}
.glyphicon-pencil, a:hover .glyphicon-pencil{
  color: #9d9d9d;
  text-decoration: none;
}